<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart Note</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>

</head>

<body>


  <nav>
    <div class="header-left">
      <span>Smart BREW List</span>
    </div>
    <div class="header-right">
      <button class="login" type="submit">Login</button>
      <button class="register" type="submit">Register</button>
    </div>
  </nav>

  <br>

  <main>

  <br>

    <section class="new-task-form">
      <form method="POST" action="/tasks">
        <input type="text" class="new-task-input" name="tasktext" placeholder="Create a new task"></input>
        <button class="submit-task-button" type="submit">Submit</button>
      </form>
    </section>

    <article class="tasks-container">

      <div>
        Watch Movies
      </div>

      <div>
        Read Books
      </div>

      <div>
        Eat at restaurants
      </div>

      <div>
        Buy products
      </div>

    </article>
    
    <form>
      <label for="task">Task:</label><br>
      <input type="text" id="task" name="task"><br>
      <label for="category">Category:</label><br>
      <select id="category" name="category">
        <option value="Buy">Buy</option>
        <option value="Read">Read</option>
        <option value="Eat">Eat</option>
        <option value="Watch">Watch</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </main>
</body>
</html>
