// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #04c7f8;
  background: linear-gradient(227deg, #bf13dd 0%, #6a0bca 20%, #6c22e4 34%, #7971e7 59%, #2421eb 74%, #6488ec 100%);
  width: 100%;
  color: rgb(34, 32, 34);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.header-left {
  font-size: 2.25em;
  text-shadow: 2px 2px 6px rgb(54, 10, 54);
  color: white;
}

.header-right {
  margin-top: 0.75em;
}
